<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Brotherhood</title>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  style="color:white" href="#">Theta Xi Michigan</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/Home">Home</a></li>
              <li><a href="#/Recruitment">Recruitment</a></li>
              <li class="active"><a href="#/Brotherhood">Brotherhood</a></li>
              <li><a href="#/Alumni">Alumni</a></li>
              <li><a href="#/Contact">Contact</a></li>
              <li><a href="#/Internal">Internal Information</a></li>
            </ul>
          </div>
        </div>
        </nav>
        <div class="splash"></div>
    </head>
    <body style="background-color: #F5F5F5">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"style="background-color: fffafa">
        <h2 class="section-heading">Our Mission</h2>
        <h2 class="sub-heading"> Brotherhood</h2>
        <p>
          We have numerous ways to ensure that each brother gets to fully enjoy their college experience. We have events year-round, including but not limited to: semi-formal and formal socials, as well as other retreats to allow brothers to bond with each other.
        </p>
            <!-- Carousel
    ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 900px; height:500px; margin: 0 auto">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive" src="img/dj.jpg" alt="First slide">
            </div>
            <div class="item">
              <img class="img-responsive" src="img/example_3.jpg" alt="Second slide">
            </div>
            <div class="item">
              <img class="img-responsive" src="img/example_4.jpg" alt="Third slide">
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- /.carousel -->
        <h2 class="sub-heading">Academics</h2>
        <p>
          Our chapter requires each member to obtain a GPA of 3.0 or higher. We provide a number of resources to allow our brothers to succeed academically.  Brothers attend weekly study tables where they can get help on their school work, as well as receive advice from a host of older brothers from a variety of backgrounds. The Sigma Chapter also boasts a large and diverse network of alumni who are available to provide career counseling and guidance.
        </p>
        <h2 class="sub-heading">Philanthropy</h2>
        <p>
          Theta Xi's national charity is the National Multiple Sclerosis Society. Our chapter holds an annual "Defend the Diag" to help raise awareness and collect money for the cause.  We also hold a number of smaller philanthropic events throughout the semester.
        </p>
        <h2 class="sub-heading">Social</h2>
        <p>We host events to allow our brothers to interact with other members of the greek community. </p>
        <img src="img/formal.png"/>
        <iframe src="https://docs.google.com/spreadsheets/d/1-GcjKiqgyhmTVRdr9-alRHDeguEMOW2Abt5Pl3R3X2M/edit?usp=sharing" style="height: 1000px; width: 1000px"></iframe>
      </div>
    </body>
</html>