<div class="modal fade" id="myModal.html" role="dialog">>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="partyTitle">Party Title</label>
          <input type="text" class="form-control" id="partyTitle" required>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input class="form-control input-lg" type="text" id="description">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

      
    </div>
  </div>
</div>
</div>