
<div ng-controller="PartyController">
<button type="button" ng-disabled="{{isDisabled}}" class="btn btn-primary" ng-model="createEvemt" ng-click="open()">Create Event!</button>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Create an Event!</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="partyTitle">Party Title</label>
            <input type="text" class="form-control" id="partyTitle" ng-model="modPartyName" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="partyTypee">Party Type</label>
            <input type="text" class="form-control" id="partyType" ng-model="modPartyType" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <input class="form-control input-lg" type="text" id="description" ng-model="modPartyDescription">
          </div>
          <div class="form-group">
              <label class="control-label" for="description">Date</label>
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-click="datePickerOpen($event)" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          </div>
          <div class="form-group">
            <label class="control-label" for="pic">Party Image</label>
            <input type="file" name="pic" accept="image/*" fileread="modPartyPic" required>
          </div>
          <div class="form-group">
            <label class="control-label">Cleanup Crew</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="cleanInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="cleanAdd(cleanInput)">Button</button>
              </span>
            </div>
            <ul>
            <div ng-repeat="member in modCleanMembers">
              <li> {{ member }} </li>
            </div>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label">Setup Crew</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="setInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="setAdd(setInput)">Button</button>
              </span>
            </div>
            <ul>
            <div ng-repeat="member in modSetMembers">
              <li> {{ member }} </li>
            </div>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label">Sober Monitors</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="soberInput">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="soberAdd(soberInput)">Button</button>
              </span>
            </div>
            <ul>
            <div ng-repeat="member in modSoberMembers">
              <li> {{ member }} </li>
            </div>
            </ul>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>
<div>
    <div class="party" ng-repeat="party in info.results">
      <a href="#/Internal/{{$index}}">
        <span class="from">{{ party.Title }}</span><span class="subject">Type of party: {{ party.Type}}</span><span class="date">{{ party.Date.iso | date}}</span>
      </a>
    </div>
</div>
</div>