<!DOCTYPE html>
<html lang="en">
    <head>
        
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  style="color:white" href="#">Theta Xi Michigan</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#/Home">Home</a></li>
              <li class="active"><a href="#/Recruitment">Recruitment</a></li>
              <li><a href="#/Brotherhood">Brotherhood</a></li>
              <li><a href="#/Alumni">Alumni</a></li>
              <li><a href="#/Contact">Contact</a></li>
              <li><a href="#/Internal">Internal Information</a></li>
            </ul>
          </div>
        </div>
      </nav>
  
  
          <div class="splash">
    </div>
</head>
<body>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<p>At the beginning of each semester, we hold a number recruitment events to allow other students to come and meet the brothers. The first three events are open to all students. The last few events are invite-only.</p>

	<p>Our Fall recruitment schedule will be available here end of August. If you are interested in becoming at a member, fill out this form.<p>
	Recruitment chairs: Alex Thal and Ish Baid

	<h2 class="section-heading">Why Join?</h2>

	<p>University of Michigan is a school of over 43,000 students.  It can be difficult to navigate a community with so many people. Greek life provides a small community for students to build relationships and create a support system. Whether through advice about school or tips for landing internships, fraternities provide ample opportunity for students to build connections with their peers. </p>

	<p>Theta Xi strives to create a sense of brotherhood among its members. Our goal is to ensure that each member develops skills that will ensure their success in whatever they do.</p>

	<h2 class="sub-heading">Some benefits we provide our members: </h2>
	<ul>
		<li>Housing</li>
		<li>An in-house chef</li>
		<li>Mentoring</li>
		<li>Development Seminars</li>
		<li>Opportunities to meet other members of the Greek community</li>
		<li>Retreats</li>
	</ul>
	<h2 class="section-heading">What is the process to become a member?</h2>
	<h2 class="sub-heading">In order to become a brother of the Theta Xi Fraternity, one must go through a three step process:</h2>
	<ol>
		<li>Rush: A two week process, where students interact with the brothers and determine whether Theta Xi is the right place for them.</li>
		<li>Associate Member Education: A two month long process, where associate members are taught about the history and values of Theta Xi.</li>
		<li>Initiation: A formal ceremony demonstrating that an associate member has shown their dedication to the fraternity and earned a place in the brotherhood.</li>
	</ol>
	<h2 class="section-heading">How much of a time commitment is there?</h2>
	<p>Associate members are required to attend two meetings a week. At these meetings, they will be taught about Theta Xi history and tradition. In addition, they will learn techniques to improve themselves. However we understand that school comes first. If time is ever an issue for an associate member, it is our policy to help them to create a schedule that works with their academics.</p>

  <iframe src="https://docs.google.com/forms/d/18IeJmDQd6vM31M5Oe-frFoHTFlubQ28CMh2-093FMjo/viewform?embedded=true" width="1000" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<body>
</html>